/* <+=================================+
        Header section
   <+=================================+ */

@media screen and (max-width:576px){
    .navbar{
        flex-direction: column;
        gap: 50px;
    }

    .banner-img{
        width: auto;
    }

    .banner-text{
        width: auto;
        padding: 0 15px;
    }
}

@media screen and (min-width:576px) and (max-width:1000px) {
    
    .banner-img{
        width: auto;
    }

    .banner-text{
        width: auto;
        padding: 0 15px;
    }

}


@media screen and (min-width:200px) and (max-width:415px) {
    
    .banner-img{
        width: auto;
    }

    .banner-text{
        width: auto;
        padding: 0 15px;
    }

    .banner-btn{
        margin-top: 35px;
    }

}



/* <+=================================+
        Feature-1 section
   <+=================================+ */


   @media screen and (max-width:576px){

    .feature-1{
        width: auto;
        flex-direction: column;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
    }

    .feature-1 .feature-1-txt {
        padding: 0;
        text-align: center;
        width: auto;
    }

    .feature-1 .img-gallery{
        width: auto;
    }
    .feature-1 .feature-1-txt h1{
        text-align: center;
    }

    .feature-1 .feature-1-txt p{
        text-align: center;
    }

}


@media screen and (min-width:576px) and (max-width:1000px){

    .feature-1{
        width: auto;
    }
    .feature-1 .img-gallery{
        width: auto;
    }
    .feature-1 .feature-1-txt {
        padding: 2%;
        text-align: center;
        width: auto;
    }

}