@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Work Sans;
  /* font-size: 1.5em; */
}

/* Shared style */
.display-flex {
  display: flex;
}

.color-dark-orange {
  background: rgb(255, 144, 14);
}

.hide {
  display: none;
}

/* <+=================================+
        Layout design
   <+=================================+ */

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 30px;
}

.header {
  border: 1px solid black;
  grid-column: 1/-1;
  background: rgba(255, 144, 14, 0.1);
}

.feature-1 {
  border: 1px solid black;
  grid-column: 1/-1;
  max-width: 993px;
  margin: 0 auto;
}

.feature-2 {
  border: 1px solid black;
  grid-column: 1/-1;
  max-width: 993px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.fact {
  border: 1px solid black;
  grid-column: 2/12;
}

.sponsors {
  border: 1px solid black;
  grid-column: 2/12;
}

.footer {
  border: 1px solid black;
  grid-column: 2/12;
}
/* <+=================================+
        Header section
   <+=================================+ */

.navbar {
  max-width: 993px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar h1 {
  width: 208px;
  height: 36px;
  color: rgb(19, 19, 19);
  font-size: 1.9rem;
  font-weight: 700;
  line-height: 35px;
  letter-spacing: 0%;
  text-align: center;
}

.navbar .navlinks {
  list-style: none;
  height: 18px;
  width: 330px;
  justify-content: space-between;
  align-items: center;
}

.navbar .navlinks .navitem .navlink {
  text-decoration: none;
  text-transform: capitalize;
  font-size: 0.7 rem;
  font-weight: bold;
  color: rgb(114, 114, 114);
}

.banner-text {
  height: 155px;
  width: 594px;
  margin: 0 auto;
  margin-top: 70px;
  margin-bottom: 22px;
}

.banner-text h1 {
  color: rgb(19, 19, 19);
  font-family: Work Sans;
  font-size: 2.76rem;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0%;
  text-align: center;
}

.banner-text p {
  color: rgb(114, 114, 114);
  font-family: Work Sans;
  font-size: 0.69rem;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: center;
}

.banner-btn {
  height: 44px;
  width: 124px;
  border: none;
  border-radius: 8px;
  color: rgb(255, 255, 255);
  font-family: Work Sans;
  font-size: 0.86rem;
  font-weight: 600;
  line-height: 16pxpx;
  letter-spacing: 0%;
  text-align: center;
  position: relative;
  left: 50%;
  margin-left: -62px;
  margin-bottom: 34px;
  cursor: pointer;
}

.banner-img {
  width: 993px;
  margin: 0 auto;
}

.banner-img img {
  width: 100%;
}

/* <+=================================+
        Feature-1 section
   <+=================================+ */

.feature-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.feature-1 .img-gallery {
  height: 500px;
  width: 500px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

.feature-1 .img-gallery img {
  height: fit-content;
  width: 235px;
}

.feature-1 .feature-1-txt {
  padding-left: 6%;
}

.feature-1 .feature-1-txt h1 {
  color: rgb(114, 114, 114);
  font-family: Work Sans;
  font-size: 1.94rem;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: left;
}

#text-1 {
  color: rgb(19, 19, 19);
}

#text-2 {
  color: rgb(255, 144, 14);
}

.feature-1 .feature-1-txt p {
  color: rgb(114, 114, 114);
  font-family: Work Sans;
  font-size: 0.69rem;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: left;
}

.feature-1-btn {
  height: 44px;
  width: 124px;
  border: none;
  border-radius: 8px;
  color: rgb(255, 255, 255);
  font-family: Work Sans;
  font-size: 0.86rem;
  font-weight: 600;
  line-height: 16pxpx;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 20px;
  cursor: pointer;
}

/* <+=================================+
       Feature section-2
   <+=================================+ */

.feature-2-text {
  width: 403px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.feature-2-text .feature-2-heading {
  width: 400px;
}

.feature-2-text .feature-2-heading h1 {
  color: rgb(19, 19, 19);
  font-family: Work Sans;
  font-size: 1.94rem;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: left;
}

.feature-2-text .feature-2-heading p {
  color: rgb(114, 114, 114);
  font-family: Work Sans;
  font-size: 0.69rem;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: left;
}

.feature-2-text .text-item {
  width: 350px;
}

.feature-2-text .text-item h2 {
  color: rgb(19, 19, 19);
  font-family: Work Sans;
  font-size: 0.86rem;
  font-weight: 600;
  line-height: 15px;
  letter-spacing: 0%;
  text-align: left;
}

.feature-2-text .text-item p {
  color: rgb(114, 114, 114);
  font-family: Work Sans;
  font-size: 0.69rem;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: left;
}

.feature-2-img {
  width: 550px;
  position: relative;
}

.feature-2-img .img-box {
  width: 485px;
  position: relative;
  left: 10%;
}

.feature-2-img .img-box img {
  width: 100%;
}

.experience {
  width: 235px;
  height: 138px;
  position: absolute;
  top: 80%;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 8px;
}

.experience h1 {
  font-weight: 2.8rem;
  color: #ffff;
  font-weight: 700;
  font-family: Work Sans;
  text-align: center;
}

#exp {
  font-size: 1rem;
  color: #ffff;
  font-weight: 500;
}
